.profile{
    margin-right: 2rem;
    text-align: center;
    @include mobile-size{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    &__img{
        border-radius: 100%;
    }
    &__position{
        color:$neutral-color-txt;
    }
    &__name{
        margin: 1rem;
        font-family: $title-font;
        font-weight: 900;
        color: $neutral-color-txt-testimonials-name;
    }
    &__comment{
        margin-top: 3rem;
        margin-bottom: 4rem;
        color: $neutral-color-txt-testimonials;
        @include mobile-size{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }
    
    
}