.underline {
  position: relative;
  z-index: -1;
  bottom: 0.4rem;
  width: 133px;
  height: 0.4rem;
  transform-origin: center bottom;
  transition: transform 400ms;
}
@media screen and (max-width: 959px) {
  .underline {
    width: 120px;
  }
}
@media screen and (max-width: 572px) {
  .underline {
    margin: 0 auto;
  }
}
.underline__transform {
  background-color: #fad400;
}
.underline__standout {
  background-color: #fe7867;
}

.title {
  font-family: "Fraunces", serif;
}
.title--big {
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  text-align: center;
}
.title--big--testimonials {
  color: #a7abae;
  margin-bottom: 8rem;
}
@media screen and (max-width: 572px) {
  .title--big--testimonials {
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
  }
}
.title--big--header {
  animation: title-animation 1300ms 500ms linear backwards;
  transform-origin: bottom center;
  color: white;
  font-size: 45px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 572px) {
  .title--big--header {
    font-size: xx-large;
  }
}
.title--sub {
  font-size: 3rem;
}
@media screen and (max-width: 959px) {
  .title--sub {
    font-size: 2rem;
  }
}
@media screen and (max-width: 572px) {
  .title--sub {
    font-size: 3rem;
  }
}
.title--learn {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin: 0;
  z-index: 1;
}
.title--learn:hover + .underline {
  transform: scaleY(2);
}

.btn:hover + .underline {
  height: 4rem;
}

@keyframes title-animation {
  0% {
    transform: rotateX(90deg) translateY(-100rem) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translateY(90rem) scale(0.1);
    opacity: 0;
  }
  100% {
    transform: rotateX(-90deg) translateY(10rem) scale(1);
  }
}
.btn {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  width: 120px;
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  border: none;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 572px) {
  .btn {
    background-color: #fad400;
  }
}
.btn:hover {
  cursor: pointer;
  color: white;
}
.btn:hover:after {
  opacity: 1;
  transform: scale(1.15);
}
.btn:after {
  content: " ";
  border-radius: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7de5ff;
  color: #fff;
  opacity: 0;
  z-index: -1;
  transition: transform 200ms linear 0s, opacity 100ms linear;
}

.navbar {
  overflow: hidden;
  padding-top: 2rem;
}
.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar nav .navigator {
  display: inline;
}
@media screen and (max-width: 572px) {
  .navbar nav .navigator {
    display: none;
  }
  .navbar nav .navigator.responsive {
    display: block;
    background-color: white;
    transition: all 1500ms;
  }
  .navbar nav .navigator .arrow-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-bottom: 40px solid white;
    position: absolute;
    right: 5%;
    top: 5.5rem;
  }
}
@media screen and (max-width: 572px) {
  .navbar nav .navigator ul {
    position: absolute;
    right: 5%;
    top: 15%;
    margin: 0;
    background-color: white;
    height: 35%;
    width: 75%;
    overflow: hidden;
  }
}
.navbar nav .navigator li {
  display: inline;
  overflow: hidden;
  margin-right: 2rem;
}
.navbar nav .navigator li a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 572px) {
  .navbar nav .navigator li {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .navbar nav .navigator li a {
    color: #a7abae;
  }
}
.navbar__footer {
  margin-top: 0.6rem;
  padding-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}
.navbar__footer nav {
  justify-content: center;
}
@media screen and (max-width: 572px) {
  .navbar__footer nav {
    display: block;
  }
  .navbar__footer nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
.navbar__footer nav li {
  display: inline;
  margin-right: 3rem;
}
@media screen and (max-width: 572px) {
  .navbar__footer nav li {
    margin-right: 0;
  }
}
.navbar__footer nav li:hover a {
  color: white;
}
.navbar__footer nav li a {
  color: #25564b;
  text-decoration: none;
}

.hamburger-btn {
  display: none;
  position: absolute;
  right: 5%;
}
@media screen and (max-width: 572px) {
  .hamburger-btn {
    display: block;
  }
}

.line {
  height: 4px;
  width: 30px;
  background-color: white;
}
.line--2 {
  margin-top: 6px;
}
.line--3 {
  margin-top: 6px;
}

.change .line {
  background-color: #9edbff;
}

.arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10vmax;
  text-align: center;
  height: 2rem;
  width: 100%;
  animation: arrow-appear 1000ms ease-in-out 500ms backwards;
  animation: arrow-boeing 800ms linear infinite alternate both;
}

@keyframes arrow-appear {
  0% {
    margin-top: -30rem;
  }
  100% {
    margin-top: 8rem;
  }
}
@keyframes arrow-boeing {
  0% {
    margin-top: 2rem;
  }
  100% {
    margin-top: 4rem;
  }
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
@media screen and (max-width: 959px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 572px) {
  body {
    font-size: 18px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 572px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
.flex-container--testimonials {
  margin-right: 8%;
  margin-left: 8%;
}
.flex-container--prefooter {
  height: 100%;
  width: 100%;
}
.flex-container--footer {
  margin-right: auto;
  margin-left: auto;
  width: 30vw;
  margin-top: 4rem;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}
@media screen and (max-width: 572px) {
  .flex-container--footer {
    justify-content: space-between;
  }
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 572px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 100vw 30rem 100vw 30rem;
    text-align: center;
    align-items: center;
  }
}
.grid-container .img {
  height: 30rem;
  width: 100%;
}
@media screen and (max-width: 572px) {
  .grid-container .img {
    height: 100%;
    width: 100%;
  }
}
.grid-container .img--transform {
  background-image: url("../images/desktop/image-transform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: 1/2/2/end;
}
@media screen and (max-width: 572px) {
  .grid-container .img--transform {
    grid-area: 1/1/2/end;
    background-image: url("../images/mobile/image-transform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.grid-container .img--standout {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: 2/1/end/2;
}
@media screen and (max-width: 572px) {
  .grid-container .img--standout {
    grid-area: 3/1/4/end;
    background-image: url("../images/mobile/image-stand-out.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.grid-container .txt {
  height: 100%;
  margin: auto 15%;
}
@media screen and (max-width: 572px) {
  .grid-container .txt {
    margin: 0 5%;
  }
}
.grid-container .txt p {
  color: #a7abae;
  line-height: 2;
}
.grid-container .txt--transform {
  grid-area: 1/1/2/2;
}
.grid-container .txt--transform a {
  text-decoration-color: #fad400;
}
@media screen and (max-width: 572px) {
  .grid-container .txt--transform {
    grid-area: 2/1/2/end;
  }
}
.grid-container .txt--standout {
  grid-area: 2/2/end/end;
}
.grid-container .txt--standout a {
  text-decoration-color: #fe7867;
}
@media screen and (max-width: 572px) {
  .grid-container .txt--standout {
    grid-area: 4/1/4/end;
  }
}

#footer {
  padding: 5rem 10% 0% 5%;
  background-color: #9dd2c5;
  text-align: center;
  color: #25564b;
}
#footer .logo {
  transform: scale(1.4);
  fill: #25564b;
}
#footer .sns-container {
  text-align: center;
  position: relative;
}
#footer .sns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 2rem;
}
#footer .sns:hover .sns--logo {
  fill: white;
}
#footer .attribution {
  position: relative;
  bottom: 0;
}

.pic {
  height: 100%;
  width: 100%;
}
.pic--milk {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pic--orange {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pic--cone {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pic--sugar {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 572px) {
  .pic {
    height: 50%;
    width: 50%;
  }
  .pic--milk {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pic--orange {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pic--cone {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pic--sugar {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.profile {
  margin-right: 2rem;
  text-align: center;
}
@media screen and (max-width: 572px) {
  .profile {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.profile__img {
  border-radius: 100%;
}
@media screen and (max-width: 572px) {
  .profile__img {
    width: 6rem;
  }
}
.profile__position {
  color: #a7abae;
}
.profile__name {
  margin: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
}
.profile__comment {
  margin-top: 3rem;
  margin-bottom: 4rem;
  color: #5a636c;
}
@media screen and (max-width: 572px) {
  .profile__comment {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

#header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5%;
  height: 55vw;
  animation: blue 1500ms ease-in;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  #header {
    background-image: url("../images/mobile/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 76vh;
    background-size: contain;
  }
}

@keyframes blue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#description {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 572px) {
  #description {
    height: 110vmax;
    width: 100%;
    margin-bottom: 2rem;
    height: fit-content;
  }
}

#testimonials {
  margin-top: 15rem;
  text-align: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 572px) {
  #testimonials {
    margin-top: 8rem;
  }
}

#pre-footer {
  height: 30rem;
  width: 100%;
  margin-top: 10rem;
}

#service {
  height: 30rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 572px) {
  #service {
    height: fit-content;
  }
}

.serv {
  height: 35rem;
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 572px) {
  .serv {
    height: 90vmax;
    width: 100%;
  }
}
.serv--graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.serv--graphic .text {
  color: #25564b;
  margin: 0 15%;
  margin-top: 25rem;
}
@media screen and (max-width: 572px) {
  .serv--graphic {
    background-image: url("../images/mobile/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.serv--photography {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.serv--photography .text {
  color: #19536b;
  margin: 0 15%;
  margin-top: 25rem;
}
@media screen and (max-width: 572px) {
  .serv--photography {
    background-image: url("../images/mobile/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=styles.css.map */
