$neutral-header-color:hsl(0, 0%, 100%);
$primary-color-transform: hsl(51, 100%, 49%);
$primary-color-standout: hsl(7, 99%, 70%);
$primary-color-photography:hsl(198, 62%, 26%);
$primary-color-graphic:hsl(167, 40%, 24%);
$primary-color-footer-bg:hsl(165, 36.6%, 72%);
$primary-color-footer-text: hsl(167, 40%, 24%);


$neutral-color-txt:hsl(210, 4%, 67%);
$neutral-color-title-testimonials:hsl(210, 4%, 67%);
$neutral-color-txt-testimonials:hsl(213, 9%, 39%);
$neutral-color-txt-testimonials-name:hsl(212, 27%, 19%);

$title-font: 'Fraunces', serif;
$text-font: 'Barlow', sans-serif;